@model BookStore.Models.Identity.ApplicationRole

<h2>Edit Role</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label>Role Name</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary mt-2">Update</button>
    <a asp-action="Index" class="btn btn-secondary mt-2">Back</a>
</form>
