@model BookStore.Models.Category

@section Breadcrumb {
 <nav aria-label="breadcrumb">
 <ol class="breadcrumb mb-0">
 <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
 <li class="breadcrumb-item"><a asp-controller="Categories" asp-action="Index">Categories</a></li>
 <li class="breadcrumb-item active" aria-current="page">Add Category</li>
 </ol>
 </nav>
}

<div class="card">
 <div class="card-header">Add Category</div>
 <div class="card-body">
 <form asp-action="Create" method="post">
 @Html.AntiForgeryToken()
 <div class="mb-3">
 <label>Name</label>
 <input asp-for="Name" class="form-control" />
 <span asp-validation-for="Name" class="text-danger"></span>
 </div>
 <div class="mb-3">
 <label>Description</label>
 <textarea asp-for="Description" class="form-control" rows="5"></textarea>
 <span asp-validation-for="Description" class="text-danger"></span>
 </div>
 <button type="submit" class="btn btn-primary">Save</button>
 <a asp-action="Index" class="btn btn-link">Cancel</a>
 </form>
 </div>
</div>

@section Scripts {
 <partial name="_ValidationScriptsPartial" />
}
